{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block body %}
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Customers</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Customers</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">        

                                <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="row">
                                            <div class="card-header col-sm-11">
                                                <button id="btnNew" type="button" class="btn btn-success btm-sm" data-toggle="modal" data-target="#editModal" data-action="add">Add</button>
                                                <span class="d-block m-t-5"></span>                                            
                                            </div>
                                            <div class="card-header col-sm-1">
                                                
                                            </div>                           
                                        </div>                                                     
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover" id="customerList">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
                                                            <th>Account Number</th>
                                                            <th>Postcode</th>
                                                            <th>Town</th>
                                                            <th>&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Hover-table ] end -->

                            </div>
                            <div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalTitle">Edit</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                        <input type="hidden" id="accno">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="customerName">Customer's Name</label>
                                                            <input type="text" class="form-control" id="customerName">                                                            
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="address1">Address 1</label>
                                                            <input type="text" class="form-control" id="address1">                                                            
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="address2">Address 2</label>
                                                            <input type="text" class="form-control" id="address2">                                                            
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="postcodeSelect">Postcode</label>
                                                            <select class="form-control js-states" id="postcodeSelect">                                                               
                                                            </select>
                                                        </div>
                                                         <div class="form-group">
                                                            <label for="town">Town</label>
                                                            <input type="text" class="form-control" id="town" readonly>                                                            
                                                        </div>                                                       
                                                    </form>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button id="btnSave" type="button" class="btn btn-primary" data-action="update">Save changes</button>
                                        </div>
                                    </div>
                                </div>                                
                            <</div>
                            <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalTitle">Edit</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                        <input type="hidden" id="accno">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Are you sure?
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button id="btnDelete" type="button" class="btn btn-danger">Delete!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {

            $('#postcodeSelect').select2({
                dropdownParent: $('#editModal'),
                templateResult: function(state){
                    if (!state.id) {
                        return state.text;
                    }

                    var $state = $('<span>' + state.id + ' ' + state.text + '</span>');
                    return $state;


                },
                templateSelection: function(state){
                    if (!state.id) {
                        return state.text;
                    }

                    var $state = $('<span>' + state.id + '</span>');
                    return $state;


                },
                ajax: {
                    delay: 250, // wait 250 milliseconds before triggering the request
                    url: '/postcode/api/list/search',
                    data: function (params) {
                        var query = {
                            search: params.term,
                            limit: '50'
                        }
                     
                        return query;
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    dataType: 'json'
                    
                }
            });

            $('#postcodeSelect').on('change',function(e){
                $('#town').val($('#postcodeSelect option:selected').text());
            });

            $('#editModal').on('show.bs.modal', function (event) {
                let btn = $(event.relatedTarget); // Button that triggered the modal
                let action = btn.data('action');
                let postcode = btn.data('postcode') ;
                let accno = btn.data('accno');
                //console.log(postcode);
                $('#btnSave').off();

                if(action === 'add') {
                    
                    $('#editModalTitle').text('Add Customer');
                    $('#customerName').val('');
                    $('#postcodeSelect').val(null).trigger('change');
                    $('#address1').val('');
                    $('#address2').val(''); 
                    $('#btnSave').attr('data-action','add'); 
                    $('#btnSave').text('Add'); 

                    $('#btnSave').on('click',function(e){
                        $.post('/customer/api/new', 
                            {custname: $('#customerName').val(), address1: $('#address1').val(), address2: $('#address2').val(), postcode: $('#postcodeSelect').val()})
                            .done(function(data){
                                if(data.isSuccess){
                                    loadCustomerList();
                                    $('#editModal').modal('hide');  
                                }   
                            });
                    });
                 

                } else {

                    $('#btnSave').attr('data-action','update');
                    $('#btnSave').text('Save Changes');     
                    $('#editModalTitle').text('Edit ' + accno);
                    $('#accno').val(accno);

                     // Fetch the preselected item, and add to the control
                    const postcodeSelect = $('#postcodeSelect');
                    $.ajax({                    
                        url: '/postcode/api/show/' + postcode
                        
                    }).then(function (data) {
                        // create the option and append to Select2
                        var option = new Option(data.town, data.postcode, true, true);
                        postcodeSelect.append(option).trigger('change');

                        // manually trigger the `select2:select` event
                        postcodeSelect.trigger({
                            type: 'select2:select',
                            params: {
                                data: data
                            }
                        });
                    });

                    $('#customerName').val(btn.data('custname')); 
                    $.post('/customer/api/show/accno/' + accno)
                        .done(function(data){
                            $('#address1').val(data.addr1);
                            $('#address2').val(data.addr2);
                        });

                     $('#btnSave').on('click',function(e){
                        $.post('/customer/api/update/accno/' + $("#accno").val(), 
                            {custname: $('#customerName').val(), address1: $('#address1').val(), address2: $('#address2').val(), postcode: $('#postcodeSelect').val()})
                            .done(function(data){
                                if(data.isSuccess){
                                    loadCustomerList();
                                    $('#editModal').modal('hide');  
                                }   
                            });
                    });           
                }
               

               
            })

            $('#deleteModal').on('show.bs.modal', function (event) {
                let btn = $(event.relatedTarget); // Button that triggered the modal                
                let accno = btn.data('accno');
                //console.log(postcode);
                
                $('#deleteModalTitle').text('Delete ' + btn.data('custname'));
                $('#accno').val(accno);

            })

             
            loadCustomerList();
           

            
            $('#btnDelete').on('click',function(e){
                $.post('/customer/api/delete/accno/' + $("#accno").val())
                    .done(function(data){
                        if(data.isSuccess){
                            loadCustomerList();
                            $('#deleteModal').modal('hide');  
                        }   
                    });
            });

            $('#btnNew').on('click',function(e){
                
            });
           
        });

        function loadCustomerList() {

             $('#customerList tbody').empty();

             $.post("api/list", {limit: 10})
                .done(function(data){
                    
                    let i=0;
                    
                    
                    
                    data.forEach(function(cust){
                        i++;
                        let editIcon = '<div class="i-block" data-toggle="modal" data-target="#editModal" title="Edit" ' 
                            + ' data-postcode="' + cust.postcode + '"' 
                            + ' data-custname="' + cust.name + '"' 
                            + ' data-accno="' + cust.accno + '"' 
                            + '><i class="feather icon-edit" style="cursor: pointer;"></i></div>';

                        let deleteIcon = '<div class="i-block ml-2" data-toggle="modal"  data-target="#deleteModal" title="Delete"' 
                            + ' data-accno="' + cust.accno + '"'
                            + ' data-custname="' + cust.name + '"' 
                            + '><i class="feather icon-x-circle" style="cursor: pointer;"></i></div>';

                        let actions = '<div class="row" style="font-size: 18px;">' + editIcon + deleteIcon + '</div>';

                        $('#customerList > tbody:last-child')
                            .append($('<tr>')
                                .append($('<th>').html(i))
                                .append($('<td>').html(cust.name))
                                .append($('<td>').html(cust.accno))
                                .append($('<td>').html(cust.postcode))
                                .append($('<td>').html(cust.town))
                                .append($('<td>').html(actions))

                                
                                
                        );
                    });
                     
                });
        }
    </script>
{% endblock %}