<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Free Datta Able Admin Template come up with latest Bootstrap 4 framework with basic components, form elements and lots of pre-made layout options" />
    <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template, free admin theme, free dashboard template"/>
    <meta name="author" content="CodedThemes"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
     <!-- fontawesome icon -->
    <link rel="stylesheet" href="{{ asset('fonts/fontawesome/css/fontawesome-all.min.css') }}">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ asset('plugins/animation/css/animate.min.css') }}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}



</head>
<body>
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>

    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="index.html" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">ABi</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>                   
                    <li class="nav-item">
                        <a href="/customer" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Customers</span></a>
                    </li>
                    <li class="nav-item"><a href="/postcode" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Postcodes</span></a></li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>APIs</label>
                    </li>
                    <li class="nav-item">
                        <a href="/customer/api/list" class="nav-link " target="_blank"><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Customer List</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/postcode/api/list" class="nav-link " target="_blank"><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Postcode List</span></a>
                    </li>                  
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    
   
    <!-- [ Header ] end -->

{% block body %}{% endblock %}

    <!-- Required Js -->
    <script src="{{ asset('js/vendor-all.min.js') }}"></script>
	<script src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/pcoded.min.js') }}"></script>
       
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
