{% extends 'base.html.twig' %}

{% block title %}Postcodes{% endblock %}

{% block body %}
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Postcodes</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Postcodes</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">        

                                <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Postcode List</h5>
                                            <span class="d-block m-t-5"></span>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover" id="customerList">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Postcode</th>
                                                            <th>Town</th>
                                                            <th>State</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Hover-table ] end -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {

            $.post("api/list", {limit: 50})
                .done(function(data){
                    let i=0;
                    data.forEach(function(postcode){
                        i++;
                        $('#customerList > tbody:last-child')
                            .append($('<tr>')
                                .append($('<th>').html(i))                                
                                .append($('<td>').html(postcode.postcode))
                                .append($('<td>').html(postcode.town))
                                .append($('<td>').html(postcode.statename))
                                
                        );
                    });
                     
                });
           
        });
    </script>
{% endblock %}